<!DOCTYPE html>
<html>
<head>
	<title> Pythagoras Square </title>
	<link rel="stylesheet" href="../static/css/reset.css"/>
	<link rel="stylesheet" href="../static/bootstrap_4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/css/style.css">
	<script src="../static/js/pyth_sqr.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container">
	<h1 class="text-center" id="header"> Квадрат Піфагора </h1>

	<div class="form-group">
		<h5 class="text-center"> Дата народження: </h5>
    	<input class="form-control" type="date" id="date-input" onchange="update()"/>
	</div>
	<h5 class=text-center> Квадрат: </h5>
	<table class="table table-bordered" id="sqr-table">
	  <tbody>
	    <tr>
	      <td>...<br>Характер</td>
	      <td>...<br>Здоров'я</td>
	      <td>...<br>Удача</td>
	    </tr>
	    <tr>
	      <td class="align-middle">...<br>Біоенергія</td>
	      <td class="align-middle">...<br>Логіка</td>
	      <td class="align-middle">...<br>Борг</td>
	    </tr>
	    <tr>
	      <td class="align-middle">...<br>Пізнання</td>
	      <td class="align-middle">...<br>Праця</td>
	      <td class="align-middle">...<br>Розум</td>
	    </tr>
	  </tbody>
	</table>

	<h4 class="text-center"> Аналіз чисел </h4>
	<div class="text-center" id="analysis">
		<h5 > Характер </h5>
		<p></p>
		<h5 class="text-center"> Біоенергія </h5>
		<p></p>
		<h5 class="text-center"> Пізнання </h5>
		<p></p>
		<h5 class="text-center"> Здоров'я </h5>
		<p></p>
		<h5 class="text-center"> Логіка </h5>
		<p></p>
		<h5 class="text-center"> Праця </h5>
		<p></p>
		<h5 class="text-center"> Удача </h5>
		<p></p>
		<h5 class="text-center"> Борг </h5>
		<p></p>
		<h5 class="text-center"> Розум </h5>
		<p></p>
	</div>
</div>
<footer style="text-align: right; margin-right: 4px;"> Developed by <a href="https://github.com/s4lat">@s4lat</a> </footer>
</body>
</html>